version: '2'

services:
    nginx:
        image: nginx:1.13.6
        container_name: laravel-task-nginx
        ports:
            - "8001:80"
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        volumes_from:
            - php

    php:
        build:
            context: .
            dockerfile: ./docker/php/Dockerfile
        container_name: laravel-task-php
        expose:
            - 9000
        volumes:
            - .:/var/www/html
        links:
            - postgres

    postgres:
        image: postgres:10.4-alpine
        container_name: laravel-task-postgres
        ports:
            - "5432:5432"
        volumes:
            - ~/.backup/postgres/laravel/laravel_task:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=secret
            - POSTGRES_DB=laravel_task
